.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 0.8s ease-in-out;
}

.preloader-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.preloader-content {
  width: 300px;
  max-width: 80%;
  transform: scale(2.5); /* Increase scale since the lottie animation is small */
}
